.buildconfig

**~
**/Makefile
**/Makefile.in

aclocal.m4
m4
autom4te.cache

config.h
config.log
config.rpath
config.status
config.sub
configure
depcomp
compile
install-sh
missing

**/tags
**/.deps
**/*.o


!po/Makevars
!po/POTFILES.in
!po/LINGUAS
!po/*.po

src/*.gresources.c
src/*.gschema.valid
