[Unit]
Description=Touchscreen autodisabler

[Service]
Type=idle
BusName=wsid.Tad
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/bin/touchscreen-autodisabler

[Install]
WantedBy=default.target
